includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    level: 6
    paths:
        - src

    checkMissingIterableValueType: false

    ignoreErrors:
        - '#Call to an undefined method League\\Pipeline\\PipelineInterface::process\(\)#'