includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    level: 8
    paths:
        - src

    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false

    ignoreErrors:
        #- '#Call to an undefined method League\\Pipeline\\PipelineInterface::process\(\)#'