includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - src/

    # Level 9 is the highest level
    level: 9

    ignoreErrors:
        -
            message: '#Property jwhulette\\pipes\\Extractors\\XlsxExtractor::\$reader with generic interface OpenSpout\\Reader\\ReaderInterface does not specify its types: T$#'
            path: src/Extractors/XlsxExtractor.php
#
#    excludePaths:
#        - ./*/*/FileToBeExcluded.php
#
#    checkMissingIterableValueType: false