name: 'Tests'

on: push

jobs:
    php-cs-fixer:
        runs-on: ubuntu-latest
        steps:
            -   name: Checkout code
                uses: actions/checkout@v3
                with:
                    ref: ${{ github.head_ref }}

            -   name: Run PHP CS Fixer
                uses: docker://oskarstark/php-cs-fixer-ga
                with:
                    args: --config=.php-cs-fixer.dist.php --allow-risky=yes

            -   name: Commit changes
                uses: stefanzweifel/git-auto-commit-action@v4
                with:
                    commit_message: Fix styling
    test:
        needs: php-cs-fixer
        runs-on: ubuntu-latest
        strategy:
            fail-fast: false
            matrix:
                php: [ 8.5, 8.4, 8.3 ]
                Laravel: [ 12.*, 11.* ]
                dependency-version: [ prefer-lowest, prefer-stable ]
                include:
                    -   laravel: 12.*
                        testbench: 10.*
                    -   laravel: 11.*
                        testbench: 9.*
        
        name: P${{ matrix.php }} - L${{ matrix.laravel }} - ${{ matrix.dependency-version }}
        
        steps:
            -   name: Checkout code
                uses: actions/checkout@v3

            -   name: Setup PHP
                uses: shivammathur/setup-php@v2
                with:
                    php-version: ${{ matrix.php }}
                    extensions: mbstring, pcntl, pdo, sqlite, pdo_sqlite, iconv
                    coverage: none

            -   name: Install dependencies
                run: |
                    composer require "laravel/framework:${{ matrix.laravel }}" "orchestra/testbench:${{ matrix.testbench }}" "symfony/console:>=4.3.4" "mockery/mockery:^1.3.2" "nunomaduro/larastan":${{ matrix.larastan }} --no-interaction --no-update
                    composer update --${{ matrix.dependency-version }} --prefer-dist --no-interaction

            -   name: Execute static analysis
                run: vendor/bin/phpstan analyse --memory-limit=2G
                if: matrix.laravel > '9.*' && matrix.dependency-version == 'prefer-stable'

            -   name: Execute tests
                run: vendor/bin/phpunit